{#fragment id=navbar}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" title="Anjos sem Voz">
            <img class="logo-hover ms-3" src="/images/logo_anjos_sem_voz_borda.png" alt="Angel" height="40" width="50">
        </a>

        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#main-navigation"
                aria-controls="main-navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="#1">Adoção responsável</a></li>
                <li class="nav-item"><a class="nav-link" href="#2">Resgate</a></li>
                <li class="nav-item"><a class="nav-link" href="#3">Contato</a></li>

                <li class="nav-item d-none d-lg-block ms-3">
                    <a class="nav-link" href="#" id="search-icon">
                        <i class="fas fa-search"></i> <!-- Ícone de pesquisa -->
                    </a>
                </li>
            </ul>

            <form class="d-flex d-lg-none mt-2" action="#" method="get">
                <input class="form-control me-2" type="search" placeholder="Pesquisar..." aria-label="Search" name="s">
                <button class="btn btn-outline-light" type="submit">Pesquisar</button>
            </form>
        </div>
    </div>
</nav>

{/fragment}